// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = "Winterthur", "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "StMarie", "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "WalkwayUB", Helvetica Neue, Helvetica, Arial, sans-serif

font-icon = font-one
font-one = StMarie
font-one-path = 'font/stmarie'

font-two = WalkwaySB
font-two-path = 'font/walkway_semibold'

font-three = WalkwayUB
font-three-path = 'font/walkway_ultrabold'

font-four = Winterthur
font-four-path = 'font/winterthur'

@font-face {
  font-family 'StMarie'
  font-style normal
  font-weight normal
  src url(font-one-path.eot?#iefix) format('embedded-opentype'), url(font-one-path.woff) format('woff'), url(font-one-path.ttf) format('truetype'), url(font-one-path.svg#StMarie) format('svg')
}

@font-face {
  font-family 'WalkwaySB'
  font-style normal
  font-weight normal
  src url(font-two-path.eot?#iefix) format('embedded-opentype'), url(font-two-path.woff) format('woff'), url(font-two-path.ttf) format('truetype'), url(font-two-path.svg#StMarie) forma$
}

@font-face {
  font-family 'WalkwayUB'
  font-style normal
  font-weight normal
  src url(font-three-path.eot?#iefix) format('embedded-opentype'), url(font-three-path.woff) format('woff'), url(font-three-path.ttf) format('truetype'), url(font-three-path.svg#StMarie) forma$
}

@font-face {
  font-family 'Winterthur'
  font-style normal
  font-weight normal
  src url(font-four-path.eot?#iefix) format('embedded-opentype'), url(font-four-path.woff) format('woff'), url(font-four-path.ttf) format('truetype'), url(font-four-path.svg#StMarie) forma$
}

// Width
page-width = 1200px
