// Color
color-background = #e8fff2
color-font = #11261b
color-meta = #047c38
color-border = #047c38
color-link = #3e9b66

// Font
font-default = "Winterthur", "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "StMarie", "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "WalkwayUB", Helvetica Neue, Helvetica, Arial, sans-serif
font-icon = "StMarie"

@font-face {
    font-family: 'Winterthur'
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/winterthur.eot)
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/winterthur.eot?#iefix) format(embedded-opentype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/winterthur.woff) format(woff), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/winterthur.ttf) format(truetype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/winterthur.svg) format(svg)
    font-weight: normal
    font-style: normal

}

@font-face {
    font-family: 'WalkwayUB'
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_ultrabold.eot)
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_ultrabold.eot?#iefix) format(embedded-opentype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_ultrabold.woff) format(woff), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_ultrabold.ttf) format(truetype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_ultrabold.svg#WalkwaySUB) format(svg)
    font-weight: normal
    font-style: normal

}

@font-face {
    font-family: 'WalkwaySB'
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_semibold.eot)
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_semibold.eot?#iefix) format(embedded-opentype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_semibold.woff) format(woff), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_semibold.ttf) format(truetype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/walkway_semibold.svg#WalkwaySB) format(svg)
    font-weight: normal
    font-style: normal

}

@font-face {
    font-family: 'StMarie'
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/stmarie.eot)
    src: url(https://s3-us-west-2.amazonaws.com/kicksomestatic/stmarie.eot?#iefix) format(embedded-opentype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/stmarie.woff) format(woff), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/stmarie.ttf) format(truetype), url(https://s3-us-west-2.amazonaws.com/kicksomestatic/stmarie.svg#StMarie) format(svg)
    font-weight: normal
    font-style: normal

}

// Width
page-width = 960px
